.index-page

  section.main
    padding-top 57px

  .main

    &__content
      display flex
      justify-content space-between
      margin-bottom 42px

    &__description
      z-index 1
      width 530px
      user-select none

    &__back
      position absolute
      top -157px
      height 670px
      left -250px
      right 0
      background-image url('../img/general/1_welcome_back_pic.jpg')
      filter grayscale(0.2) opacity(0.1)


    &__logo
      width 120px
      height 24px
      margin-bottom 55px

      img
        max-width 100%
        max-height 100%

    &__heading

      p
        color gray2

      .like-h1
        margin-bottom 3px
        display block

      .like-h2
        display inline-block
        vertical-align middle
        margin-right 10px

      .refresh
        display inline-block
        vertical-align middle

      .like-h5
        margin-top 18px


    &__menu
      z-index 1
      width 180px

    &__down
      display block
      text-align center

  section.price
    margin-bottom 150px

    .device
      display flex
      justify-content center
      margin-top 57px
      margin-left -38px
      user-select none
      margin-bottom 60px


      &__type
        text-align center
        padding-right 10px

        span
          display block
          margin-bottom 4px

      &__model
        text-align center
        padding-left 10px

        span
          display block
          margin-bottom 4px

    .diagnosis
      display flex

      &__hint
        display flex
        flex-direction column
        justify-content space-between
        width 33.3%

        .hint

          &__top
            padding-top 55px

            .like-h1
              display block
              margin-bottom 23px

          &__bottom

            .like-h5
              display block
              margin-bottom 15px

              .bold
                font-weight 900

            .input
              margin-bottom 4px


      &__result
        display flex
        flex-direction column
        justify-content space-between
        width 33.3%
        padding-top 59px
        padding-left 20px

        .result

          &__time-price
            display flex
            margin-top 22px

            .like-h6
              margin-bottom 4px

            span
              display block

          &__time
            margin-right 40px

          &__bottom

            .show-price
              margin-bottom 20px



      &__phone
        width 33.3%
        text-align center

        .phone

          &__image
            position relative

            img
              max-height 385px

            .pain
              position absolute

              &_1
                top 5px
                left 85px

              &_2
                top 77px
                left 48px

              &_3
                top 134px
                left 76px

              &_4
                top 215px
                left 76px

              &_5
                top 342px
                left 166px

              &_6
                top 371px
                left 166px

              &_7
                top 226px
                left 229px

.action-day
  margin-bottom 124px

  &__container
    position relative
    width 900px
    height 250px
    background linear-gradient(90deg, red_dark, red)
    border-radius 10px
    padding 34px 47px

  &__back
    position absolute
    background-color red_dark2
    width 100%
    height 100%
    top 10px
    left 10px
    border-radius 10px

  &__slider
    max-width 500px
    outline none

  &__item
    outline none
  &__title
    position absolute
    top -17px
    left 50px

  &__image
    height 290px
    position absolute
    bottom 0
    right 80px

    img
      max-height 100%

  &__day
    margin-bottom 16px

    .like-h2
      font-family 'Museo Sans Cyrl 900'

  &__text
    padding-left 3px
    margin-bottom 27px

  &__link
    padding-left 98px

    a
      text-decoration underline

  &__arrow
    display block!important
    position absolute
    cursor pointer
    z-index 2


    &_prev
      transform rotate(180deg)
      bottom -9px
      left -10px

    &_next
      bottom -15px
      left 31px

.defects

  &__back
    position absolute
    top 0
    height 670px
    left 0
    right 0
    background-image url('../img/general/2_popular_back_pic.jpg')
    filter grayscale(0.2) opacity(0.1)
    background-size 100%
    background-repeat no-repeat
    background-position center

  &__title
    text-align center
    margin-bottom 23px

  &__description
    text-align center
    margin-bottom 55px

  &__popular
    max-width 800px
    margin 0 auto
    display flex
    flex-wrap wrap
    margin-bottom 45px


  &__all
    display none

  &__all-wrap
    max-width 800px
    margin 0 auto
    display flex
    flex-wrap wrap
    margin-bottom 45px

  .defect
    width 31.4%
    font-size 0;
    margin-bottom 15px

    &__icon
      display inline-block
      vertical-align middle
      text-align center
      line-height 34px
      height 34px
      width 37px
      margin-right 12px

      img
        max-height 100%
        max-width 100%

    &__name
      display inline-block
      vertical-align middle



  &__actions
    text-align right
    padding-right 166px
    position relative
    z-index 2

    .actions

      &__btn
        margin-right 77px

        &:hover
          color white

      &__repair
        position relative
        color red
        display inline-block
        border-bottom 1px solid red
        line-height 17px

        &::after
          content ''
          background-image: url('../img/svg/icon_arrow_link.svg');
          background-size contain
          background-repeat no-repeat
          width 13px
          height 13px
          transform rotate(-90deg)
          display inline-block
          position absolute
          top 1px
          right -22px
          transition all .3s linear

        &.opened
          &::after
            transform rotate(90deg)
            top 6px