.index-page

  .main
    padding-top 57px

    @media mobile
      padding-top 0

    &__content
      display flex
      justify-content space-between
      margin-bottom 42px

    &__description
      z-index 1
      width 530px

      @media mobile
        width auto
        margin 0 auto

    &__back
      position absolute
      top -157px
      height 670px
      left -250px
      right 0
      background-image url('../img/general/1_welcome_back_pic.jpg')
      filter grayscale(0.2) opacity(0.2)

      @media mobile
        background-size 160%
        top -529px
        height 670px
        left -162px


    &__logo
      width 120px
      height 24px
      margin-bottom 55px
      position relative 

      @media mobile
        display none

      img
        max-width 100%
        max-height 100%

    &__heading
      user-select none

      @media mobile
        text-align center

      p
        color gray2

      .like-h1
        margin-bottom 3px
        display block

        @media mobile
          margin-bottom 4px

      .like-h2
        display inline-block
        vertical-align middle
        margin-right 10px

        @media mobile
          font-size 30px
          line-height 30px
          margin-right 0

      .refresh
        display inline-block
        display none
        vertical-align middle

      .like-h5
        margin-top 18px

        @media mobile
          margin-top 24px
          margin-bottom 37px

      .btn
        display none

        @media mobile
          display inline-block
          width 220px
          height 48px
          font-size 12px
          line-height 48px


    &__menu
      z-index 1
      width 180px

      @media mobile
        display none

    &__down
      display block
      text-align center

      @media mobile
        display none

  .price
    margin-bottom 150px

    @media mobile
      margin-bottom 70px

    &__text
      display none

      @media mobile
        display block
        text-align center
        padding-top 10px
        margin-bottom 5px

    .device
      display flex
      justify-content center
      margin-top 57px
      margin-left -38px
      margin-bottom 52px


      @media mobile
        flex-direction column
        margin-left 0
        margin-top 0

      &__type
        text-align center
        padding-right 10px

        @media mobile
          padding-right 0
          margin-bottom 10px

        span
          display block
          margin-bottom 4px

        & > span

          @media mobile
            display none

      &__model
        text-align center
        padding-left 10px

        @media mobile
          padding-left 0

        span
          display block
          margin-bottom 4px

        & > span

          @media mobile
            display none

    .diagnosis
      display flex

      @media mobile
        display none

      &__hint
        display flex
        flex-direction column
        justify-content space-between
        width 33.3%

        .hint

          &__top
            padding-top 55px

            .like-h1
              display block
              margin-bottom 23px

          &__bottom

            .like-h5
              display block
              margin-bottom 15px

              .bold
                @extend .museo-900

            .input
              margin-bottom 4px


      &__result
        display flex
        flex-direction column
        justify-content space-between
        width 33.3%
        padding-top 59px
        padding-left 20px

        .result

          &__time-price
            display flex
            margin-top 22px

            .like-h6
              margin-bottom 4px

            span
              display block

          &__time
            margin-right 40px

          &__bottom

            .show-price
              margin-bottom 20px



      &__phone
        width 33.3%
        text-align center

        .phone

          &__image
            position relative

            img
              max-height 385px

            .pain
              position absolute

              &_1
                top 5px
                left 85px

              &_2
                top 77px
                left 48px

              &_3
                top 134px
                left 76px

              &_4
                top 215px
                left 76px

              &_5
                top 342px
                left 166px

              &_6
                top 371px
                left 166px

              &_7
                top 226px
                left 229px

  .action-day
    margin-bottom 124px

    @media mobile
      margin-left -15px
      margin-right -15px
      margin-bottom 47px

    &__container
      position relative
      max-width 900px
      height 250px
      background linear-gradient(90deg, red_dark, red)
      border-radius 10px
      padding 34px 47px

      @media mobile
        padding 34px 15px
        border-radius 0
        height auto
        background linear-gradient(27deg, red_dark3, red2)
        width 100%
        max-width none


    &__back
      position absolute
      background-color red_dark2
      width 100%
      height 100%
      top 10px
      left 10px
      border-radius 10px

      @media mobile
        display none

    &__slider
      max-width 500px
      outline none

      @media mobile
        max-width 100%
        width 100%

    &__item
      outline none

      @media mobile
        padding-top 39px

    &__title
      position absolute
      top -17px
      left 50px

      @media mobile
        left 50%
        transform translateX(-50%)

    &__image
      height 290px
      position absolute
      bottom 0
      right 80px

      @media mobile
        opacity .3
        height 100%
        right auto
        left 50%
        transform translateX(-50%)

      img
        max-height 100%

    &__name

      @media mobile
        text-align center

      span.like-h2

        @media mobile
          font-size 30px
          line-height 30px
          @extend .museo-500

      .like-h2
        @extend .museo-900

    &__day
      margin-bottom 16px


      @media mobile
        margin-bottom 18px
        text-align center


      span.like-h2

          @media mobile
            @extend .museo-900
            font-size 30px
            line-height 30px

    &__text
      padding-left 3px
      margin-bottom 27px

      @media mobile
        text-align center

    &__link
      padding-left 98px

      @media mobile
        display none

      a
        text-decoration underline

    &__arrow
      display block!important
      position absolute
      cursor pointer
      z-index 2


      &_prev
        transform rotate(180deg)
        bottom -8px
        left -10px

        @media mobile
          bottom -21px
          left 50%
          margin-left -68px

      &_next
        bottom -13px
        left 31px

        @media mobile
          bottom -27px
          left 50%
          margin-left 26px

  .defects
    margin-bottom 120px

    @media mobile
      margin-bottom 76px

    &__back
      position absolute
      top 0
      height 670px
      left 0
      right 0
      background-image url('../img/general/2_popular_back_pic.jpg')
      filter grayscale(0.2) opacity(0.1)
      background-size 100%
      background-repeat no-repeat
      background-position center
      pointer-events: none;

    &__title
      text-align center
      margin-bottom 23px

      @media mobile
        margin-bottom 17px

      span.like-h2

        @media mobile
          font-size 28px
          line-height 32px


    &__description
      text-align center
      margin-bottom 55px

      @media mobile
        margin-bottom 39px

      br

        &::after

          @media mobile
            content ' '

        @media mobile
          content ' '

    &__popular
      max-width 800px
      margin 0 auto
      display flex
      flex-wrap wrap
      margin-bottom 45px

      @media mobile
        display block
        margin-bottom 39px
        width 290px


    &__all
      display none

    &__all-wrap
      max-width 800px
      margin 0 auto
      display flex
      flex-wrap wrap
      margin-bottom 45px

      @media mobile
        margin-bottom 39px
        width 290px

    .defect
      width 31.4%
      font-size 0
      margin-bottom 15px

      &:nth-child(-n+6)

        @media mobile
          display block

      @media mobile
        //display none
        width 100%
        padding-left 42px

      &__icon
        display inline-block
        vertical-align middle
        text-align center
        line-height 34px
        height 34px
        width 37px
        margin-right 12px

        img
          max-height 100%
          max-width 100%

      &__name
        display inline-block
        vertical-align middle

      &__text
        display none

        @media mobile
          display none
          margin-left -42px
          padding-top 40px




    &__actions
      text-align right
      padding-right 166px
      position relative
      z-index 2

      @media mobile
        display flex
        flex-direction column
        padding-right 0

      .actions

        &__btn
          margin-right 77px

          @media mobile
            order 1
            width 220px
            height 48px
            font-size 12px
            line-height 48px
            margin 0 auto

          &:hover
            color white


        &__repair
          position relative
          color red
          display inline-block
          border-bottom 1px solid red
          line-height 17px

          @media mobile
            margin 0 auto 57px auto
            left -10px
            width 187px

          &::before
            content ''
            background-image url('../img/svg/icon_arrow_link.svg')
            background-size contain
            background-repeat no-repeat
            width 13px
            height 13px
            transform rotate(-90deg)
            display inline-block
            position absolute
            top 1px
            right -22px
            transition all .3s linear

          &::after

            @media mobile
              content ' поломку'

          &.opened
            &::before
              transform rotate(90deg)
              top 6px

  .additional-service
    margin-bottom 96px

    @media mobile
      margin-bottom 56px

    @media mobile
      margin-left -15px
      margin-right -15px

    .slick-arrow
      @media mobile
        display none !important


    &__container
      position relative
      max-width 900px
      height 250px
      background white
      border-radius 10px
      padding 34px 47px

      @media mobile
        padding 10px 23px 0 23px
        height auto
        border-radius 0
        width 100%
        max-width none

    &__back
      position absolute
      background-color gray3
      width 100%
      height 100%
      top 10px
      left 10px
      border-radius 10px

      @media mobile
        display none

    &__title
      position absolute
      top -17px
      left 50px
      z-index 2

      @media mobile
        left 50%
        transform translateX(-50%)

    &__text
      display inline-block
      vertical-align top
      max-width 475px
      padding-top 56px

      @media mobile
        padding-top 59px
        max-width none
        width 100%

      span
        color gray3

    &__slider-wrap
      position relative
      top -57px

      @media mobile
        top 0

    &__slider
      position relative
      top 0
      height 273px
      outline none

      @media mobile
        height auto

    &__item
      outline none

    &__name
      margin-bottom 15px

      span.like-h2

        @media mobile
          font-size 30px
          line-height 32px

      @media mobile
        text-align center


    &__description
      margin-bottom 29px

      @media mobile
        text-align center
        margin-bottom 4px

      br

        @media mobile
          content ' '

        &::after

          @media mobile
            content ' '

    &__link
      padding-left 98px

      @media mobile
        display none

      a
        text-decoration underline
        color red

    &__image
      display inline-block
      vertical-align top
      padding-left 30px

      @media mobile
        display block
        padding-left 0

      img
        max-height 273px

        @media mobile
          max-height 215px
          margin 0 auto

      &_wide
        position relative

        img
          position absolute
          left -40px

          @media mobile
            position static


    &__arrow
      display block!important
      position absolute
      cursor pointer
      z-index 2


      &_prev
        transform rotate(180deg)
        bottom 27px
        left -11px

        @media mobile
          left 50%
          margin-left -70px
          bottom auto
          top 0

      &_next
        bottom 21px
        left 29px

        @media mobile
          left 50%
          margin-left 25px
          bottom auto
          top 6px

    &__arrows
      display none

      @media mobile
        display block
        position relative
        margin-bottom 68px

  .reviews
    max-width 750px
    margin 0 auto 45px

    & + .delimiter

      @media mobile
        display none


    &__list
      outline none
      margin-bottom 37px

      @media mobile
        margin-bottom 49px

    &__wrap
      max-width 750px
      padding 0 10px

      @media mobile
        padding 0

    &__item
      outline none


    &__heading
      display flex
      flex-direction row
      justify-content space-between
      margin-bottom 25px
      max-width 690px

      @media mobile
        flex-direction column
        max-width none

    .heading

      &__name
        margin-bottom 16px

        @media mobile
          text-align center
          margin-bottom -1px

      &__text
        width 170px

        @media mobile
          margin 0 auto 24px
          text-align center

    &__photo
      text-align center
      margin-left 15px
      margin-top 5px
      position relative

      @media mobile
        margin-bottom 22px
        margin-left 0
        margin-top 0

      img
        max-width 100px
        max-height 100px

        @media mobile
          margin 0 auto

    &__text

      @media mobile
        line-height 19px

    .slick-arrow
      display none !important


    &__arrow
      display block!important
      position absolute
      cursor pointer
      z-index 2

      &_prev
        transform rotate(180deg)
        top 25px
        left 50%
        margin-left -117px

      &_next
        top 31px
        left 50%
        margin-left 77px

    &__ask-link
      text-align center

      &:hover

        a
          text-decoration none

      a
        color red
        text-decoration underline
        transition .3s linear text-decoration

      img
        margin-right 5px
        width 20px



  .partners
    margin-top 55px
    margin-bottom 58px

    @media mobile
      margin-top 45px
      margin-bottom 14px

    &__heading
      margin-bottom 55px
      text-align center

      @media mobile
        margin-bottom 23px

      span.like-h2

        @media mobile
          font-size 31px
          @extend .museo-500

    &__list
      display flex
      justify-content space-between

      @media mobile
        flex-direction column
        margin-left -15px
        margin-right -15px

    &__item

      @media mobile
        margin-bottom 10px

  .seo
    margin-bottom 115px

    @media mobile
      margin-bottom 57px

    &__text
      display flex

      @media mobile
        flex-direction column

      .text

        &__block
          width 50%
          padding-right 10px

          @media mobile
            width 100%
            padding-right 0

          &:last-child

            @media mobile
              display none

          p
            line-height 19px
            margin-bottom 21px
            color alpha(white, 10%)

            &:last-child
              margin-bottom 0

  .map
    margin-bottom 55px

    @media mobile
      margin-left -15px
      margin-right -15px

    &__wrap
      position relative
      width 100%
      height 230px
      background-image url('../img/general/1_map.png')
      background-repeat no-repeat
      background-size cover
      border-radius 10px

      @media mobile
        margin-bottom 137px
        border-radius 0
        background-position center center

    &__pin
      position absolute
      top 99px
      left 428px
      width 40px
      height 40px
      border-radius 20px
      background-color red
      background-image url('../img/svg/icon_map_placeholder.svg')
      background-size 13px
      background-repeat no-repeat
      background-position center center

      @media mobile
        left 50%
        margin-left -22px

    &__info
      cursor pointer
      position absolute
      top 99px
      left 472px
      width 40px
      height 40px
      border-radius 20px
      background-color white
      background-image url('../img/svg/icon_map_info.svg')
      background-size 8px
      background-position center center
      background-repeat no-repeat

      @media mobile
        display none

      &:hover

        & + .map__content
          display block

    &__content
      display none
      position absolute
      top 0
      right 0
      width 392px
      height 100%
      background-image url('../img/general/map_content_bg.png')

      @media mobile
        display block
        width 100%
        top 100%
        background none
        margin-top -50px



    .content

      &__wrap
        display flex
        flex-direction column
        justify-content center
        height 100%
        margin-left 162px
        padding-top 7px

        @media mobile
          margin-left 0
          text-align center

      &__block

        &:first-child
          margin-bottom 11px


        span
          display block

          &.like-h6
            color black
            margin-bottom 3px

            @media mobile
              color gray2

          &.like-h4
            color red

            @media mobile
              color white

  .diagnosis-mobile
    display none

    @media mobile
      display block

    .slick-arrow
      display none !important

    &__slider
      margin-bottom 22px

    &__name
      text-align center
      margin-bottom 23px


    &__time-price
      width 260px
      margin 0 auto
      display flex
      flex-direction row
      justify-content space-between

    &__time

      span
        display block
        margin-bottom 3px

    &__price

      span
        display block
        margin-bottom 3px

    .fullprice
      position relative
      margin-bottom 25px

      &__arrow
        display block!important
        position absolute
        cursor pointer
        z-index 2


        &_prev
          transform rotate(180deg)
          left 50%
          margin-left -79px
          bottom auto
          top -6px

        &_next
          left 50%
          margin-left 40px
          bottom auto
          top 1px

      .show-price

        &__icon
          margin-bottom 24px


    .call
      padding-top 23px

      &__text
        text-align center
        margin-bottom 14px

        .bold
          @extend .museo-900

          &::before
            content ' '

      &__input
        margin-bottom 15px

        .input
          width 100%


