.index-page

  section.main
    padding-top 57px

  .main

    &__content
      display flex
      justify-content space-between
      margin-bottom 42px

    &__description
      z-index 1
      width 530px
      user-select none

    &__back
      position absolute
      top -157px
      height 670px
      left -250px
      right 0
      background-image url('../img/general/1_welcome_back_pic.jpg')
      filter grayscale(0.2) opacity(0.1)


    &__logo
      width 120px
      height 24px
      margin-bottom 55px

      img
        max-width 100%
        max-height 100%

    &__heading

      p
        color gray2

      .like-h1
        margin-bottom 3px
        display block

      .like-h2
        display inline-block
        vertical-align middle
        margin-right 10px

      .refresh
        display inline-block
        vertical-align middle

      .like-h5
        margin-top 18px


    &__menu
      z-index 1
      width 180px

    &__down
      display block
      text-align center