.feedback

  .feedback
    margin 57px 0
    max-width 620px
    position relative

    @media mobile
      max-width 100%

    &__back
      position absolute
      top -257px
      height 670px
      left -250px
      right 0
      background-image url('../img/general/1_welcome_back_pic.jpg')
      filter grayscale(0.2) opacity(0.1)

      @media mobile
        background-size 160%
        top -537px
        height 670px
        left -162px

    &__name
      margin-bottom 23px

      @media mobile
        text-align center
        margin-bottom 17px

    &__text
      line-height 19px
      margin-bottom 88px

      @media mobile
        display none

      p
        text-indent 3px

  &__form
    display flex
    align-items flex-end
    padding-left 3px
    z-index 1
    position relative

    @media mobile
      flex-direction column

  .form

    &__item
      margin-right: 8px

      @media mobile
        margin-right 0
        margin-bottom 3px
        width 100%

      &:last-child
        margin-right 0


      &_btn
        margin-top 30px
        text-align center

        .btn

          @media mobile
            width 220px
            height 48px
            font-size 12px
            line-height 48px

    &__label
      margin-bottom 8px

      @media mobile
        margin-bottom 6px

    .input

      @media mobile
        width 100%

