.header
  padding-top 60px
  z-index 1



  .container
    position relative

  &__items
    display flex
    justify-content space-between
    margin-bottom 10px


  &__item

    .item

      &__label
        margin-bottom 12px

    &_search
      width 82px
      position relative

      a
        position absolute
        bottom 11px
        left 100%
        margin-left 12px

        path
          trans

        &:hover

          path
            fill red !important

      svg
        width 14px
        height 14px


    &_address

      .item__value
        span
          user-select all

    &_contacts
      .item__value
        *
          user-select auto

    &_price
      width 180px

  &__search
    position absolute
    top 0
    bottom 20px
    left 0
    right 189px
    background-color black
    opacity 0
    z-index -1
    transition all linear .3s

    &_visible
      z-index 1
      opacity 1


    .search
      &__hint
        margin-bottom: 12px;

    .input
      width 100%

      &__btn
        margin-top -11px

        svg
          height 14px