footer.footer
    .container
        .footer__back
        .footer__items
            .footer__item.footer__item_address.item
                .item__label
                    span.like-h6 Адрес:
                .item__value
                    span.like-h5
                        | Архангельск
                        br
                        | пр. Ломоносова, 209, 1 этаж
            .footer__item.footer__item_contacts.item
                .item__label
                    span.like-h6 Контакты:
                .item__value
                    span.like-h5
                        a(href='tel:+79969207717') +7 (996) 920 77 17
                        br
                        a(href='mailto:service.idoctor@yandex.ru') service.idoctor@yandex.ru
            .footer__item.footer__item_hours.item
                .item__label
                    span.like-h6 Режим работы:
                .item__value
                    span.like-h5
                        | Ежедневно
                        br
                        | 10 — 19
            .footer__item.footer__item_search.item
                .item__value

            .footer__item.footer__item_price.item
                .item__label
                    span.like-h6 Остались вопросы:
                .item__value
                    a(href='/feedback.html').btn Написать
        .footer__line
            .contact-line
                .contact-line__line

                .contact-line__social.social
                    .social__item.social__item_vk
                        a(href='https://vk.com/idoktor29ru' target="_blank")
                            include ../../static/img/svg/icon_socials_vk.svg
                    .social__item.social__item_instagram
                        a(href='http://instagram.com/idoctor29arh' target="_blank")
                            include ../../static/img/svg/icon_social_instagram.svg
        .footer__copyright.copyright
            .copyright__copy
                span.like-h6 iDoctor &copy;
            .copyright__dates
                span.like-h6 2015 &mdash; 2018
            .copyright__text
                span.like-h6 Сервисный центр обсуживания продукции Apple полного цикла
        .footer__social-mobile.social-mobile
            .social-mobile__item.social-mobile__item_vk
                a(href='#')
                    include ../../static/img/svg/icon_socials_vk.svg
            .social-mobile__item.social-mobile__item_instagram
                a(href='#')
                    include ../../static/img/svg/icon_social_instagram.svg
