header.header
    .container
        .header__items
            .header__item.header__item_address.item
                .item__label
                    span.like-h6 Адрес:
                .item__value
                    span.like-h5
                        | Архангельск
                        br
                        | пр. Ломоносова, 209, 1 этаж
            .header__item.header__item_contacts.item
                .item__label
                    span.like-h6 Контакты:
                .item__value
                    div.like-h5
                        a(href='tel:+79212490529') +7 (921) 249-05-29
                        br
                        a(href='mailto:service.idoctor@yandex.ru') service.idoctor@yandex.ru
            .header__item.header__item_hours.item
                .item__label
                    span.like-h6 Режим работы:
                .item__value
                    span.like-h5
                        | Ежедневно
                        br
                        | 10 — 19
            .header__item.header__item_search.item
                .item__value
                    a(href='#' hidden).js-show-header-search-bar
                        include ../../static/img/svg/icon_search.svg
            .header__item.header__item_price.item
                .item__label
                    span.like-h6 Главный вопрос:
                .item__value
                    a(href='/price-table-iphone-6.html').btn Стоимость
        .header__line
            .contact-line
                .contact-line__line
                if pageClass != 'index-page'
                    a(href='/index.html').contact-line__link На главную
                a(href='/index.html#contacts').contact-line__link Как к нам проехать?
                .contact-line__social.social
                    .social__item.social__item_vk
                        a(href='https://vk.com/idoktor29ru' target="_blank")
                            include ../../static/img/svg/icon_socials_vk.svg
                    .social__item.social__item_instagram
                        a(href='http://instagram.com/idoctor29arh' target="_blank")
                            include ../../static/img/svg/icon_social_instagram.svg
        .header__search.search.js-header-search-bar
            .search__hint
                span.like-h6 Что ищем?
            .serach__field
                .input.input_btn
                    input(type='text' placeholder='Плохо держит заряд как исправить').input__field
                    button(href='#').input__btn
                        include ../../static/img/svg/icon_search.svg
header.header-mobile
    .header-mobile__top
        a(href='index.html').header-mobile__logo
            img(src='static/img/svg/idoctor_logo_white.svg')
        .header-mobile__burger.burger.js-open-mobile-menu
            a(href='#')
                .burger__item
                .burger__item
                .burger__item
    .header-mobile__contacts
        span.like-h5 пр. Ломоносова, 209, 1 этаж
        a(href='tel:+79212490529').like-h5 +7 (921) 249 05 29


    .header-mobile__menu.menu.js-mobile-menu
        .menu__list
            .menu__item
                a(href='/index.html#price').like-h5 Стоимость
            .menu__item
                a(href='/index.html#action').like-h5 Акция дня
            .menu__item
                a(href='/index.html#service').like-h5 Сервис
            .menu__item
                a(href='/index.html#plus').like-h5 Услуги Plus
            .menu__item
                a(href='/index.html#reviews').like-h5 Отзывы
            .menu__item
                a(href='/index.html#partners').like-h5 Партнёры
            .menu__item
                a(href='/index.html#contacts').like-h5 Контакты
        .menu__search
            .input.input_btn
                input(type='text' placeholder='Поиск').input__field
                button(href='#').input__btn
                    include ../../static/img/svg/icon_search.svg


