extends ../layout/main

block variables
    - var title = 'Почему не работает WiFi?'
    - var pageClass = 'defect-detail'

block content

    .defect
        .defect__back
        .defect__name
            span.like-h1 Почему не работает WiFi?
        .defect__text
            p Как правило, большая часть обращений в сервисный центр по ремонту Wi-Fi в iPhone, связана с заменой его модуля. Точно диагностировать неисправность сможет только специалист. Но для начала можно попробовать решить проблему не работающего Wi-Fi в айфон самостоятельно, как советуют специалисты на официальном сайте производителя:
            p
                br
            p Сбросить все настройки сети;
            p Сделать жесткую перезагрузку Hard Reset;
            p Обновить ПО до последней версии.
        .defect__bottom
            .defect__read-more
                a(href='#') Читать полностью
            .defect__order
                a(href='#').btn Заказать ремонт

