extends ../layout/main

block variables
    - var title = 'iDoctor - экспресс-ремонт iPhone/iPad в Архангельске'
    - var pageClass = 'index-page'

block content

    section.main
        .main__back
        .main__content
            .main__description
                .main__logo
                    img(src='static/img/svg/idoctor_logo_white.svg')
                .main__heading
                    span.like-h1 Экспресс-ремонт
                    span.like-h2 iPhone / iPad в&nbsp;Архангельске
                    .refresh
                        include ../../static/img/svg/icon_refresh.svg
                    p.like-h5
                        | Демократичный экспресс сервис Вашей техники Apple уже сегодня.
                        br
                        | iDoctor — это не только быстрое и качественное исполнение,
                        br
                        | но и гарантия качества на каждую услугу от 3 месяцев.
                    a(href='/price-table-iphone-6.html').btn Стоимость

            .main__menu
                .menu
                    .menu__item
                        a(href='/index.html#price') Стоимость
                    .menu__item
                        a(href='/index.html#action') Акция дня
                    .menu__item
                        a(href='/index.html#service') Сервис
                    .menu__item
                        a(href='/index.html#plus') Услуги Plus
                    .menu__item
                        a(href='/index.html#reviews') Отзывы
                    .menu__item
                        a(href='/index.html#partners') Партнёры
                    .menu__item
                        a(href='/index.html#contacts') Контакты


        .main__down
            .arrow.arrow_down.js-about-price
                include ../../static/img/svg/icon_arrow.svg

    section.price.js-price
        a(name="price")
        .price__text
            span.like-h6 Выберите девайс и модель:
        .price__device.device
            .device__type
                span.like-h6 Девайс
                .toggler.js-toggler-type(data-value='iphone')
                    .toggler__back
                    .toggler__items
                        span.toggler__item(data-value='iphone') iPhone
                        span.toggler__item(data-value='ipad') iPad
            .device__model
                span.like-h6 Модель
                .toggler.toggler_model.js-toggler-model(data-value='6')
                    .toggler__back
                    .toggler__items
                        span.toggler__item(data-value='5') 5
                        span.toggler__item(data-value='6') 6
                        span.toggler__item(data-value='7') 7
                        span.toggler__item(data-value='8') 8




        .price__diagnosis.diagnosis
            .diagnosis__hint.hint
                .hint__top
                    span.like-h1 Где болит?
                    span.like-h5
                        | Просто наведите на маркер,
                        br
                        | и мы определим вашу проблему,
                        br
                        | а также оценим стоимость
                .hint__bottom
                    span.like-h5
                        | Затрудняетесь с определением неисправности?
                        .bold Поможем!
                    .input.input_btn.js-call-me-form
                        input(type='text').input__field.js-call-me-form-phone
                        button(href='#').input__btn
                            include ../../static/img/svg/icon_arrow.svg
            .diagnosis__phone.phone
                .phone__image
                    img(src='static/img/general/1_price_iphone.png')
                    a(href='#' data-name='' data-time='' data-price='').pain.pain_1.js-pain
                    a(href='#' data-name='' data-time='' data-price='').pain.pain_2.js-pain
                    a(href='#' data-name='' data-time='' data-price='').pain.pain_3.js-pain
                    a(href='#' data-name='' data-time='' data-price='').pain.pain_4.js-pain
                    a(href='#' data-name='' data-time='' data-price='').pain.pain_5.js-pain
                    a(href='#' data-name='' data-time='' data-price='').pain.pain_6.js-pain
                    a(href='#' data-name='' data-time='' data-price='').pain.pain_7.js-pain
            .diagnosis__result.result
                .result__top
                    span.like-h3.js-diagnosis-name Восстановление после попадания влаги
                    .result__time-price
                        .result__time
                            span.like-h6 Время ремонта от:
                            span.like-h3.js-diagnosis-time 30 минут
                        .result__price
                            span.like-h6 Стоимость от:
                            span.like-h3.js-diagnosis-price 999 руб.
                .result__bottom
                    a(href='price-table-iphone-6.html').show-price.js-full-price-link
                        .show-price__icon
                            include ../../static/img/svg/icon_show_price.svg
                        .show-price__text
                            span.like-h4 Открыть полный прайс
                            span.like-h6 14 позиций
                    span.like-h6
                        | В стоимость ремонта входит:
                        br
                        | работа + комплектующие


        .price__diagnosis-mobile.diagnosis-mobile
            .diagnosis-mobile__slider.js-diagnosis-mobile-slider

            .diagnosis-mobile__fullprice.fullprice
                a(href='price-table-iphone-6.html').show-price.js-full-price-link
                    .show-price__icon
                        include ../../static/img/svg/icon_show_price.svg
                    .show-price__text
                        span.like-h4 Открыть полный прайс
                        span.like-h6 14 позиций


                .fullprice__arrow.fullprice__arrow_prev.js-diagnosis-prev
                    .arrow.arrow_red-hover
                        include ../../static/img/svg/icon_arrow.svg
                .fullprice__arrow.fullprice__arrow_next.js-diagnosis-next
                    .arrow.arrow_red-hover
                        include ../../static/img/svg/icon_arrow.svg
            .diagnosis-mobile__delimiter.delimiter
            .diagnosis-mobile__call.call
                .call__text
                    span.like-h5
                        | Затрудняетесь с определением неисправности?
                        span.bold Поможем!
                form.call__input.js-call-me-form
                    .input.input_btn
                        input(type='text').input__field.js-call-me-form-phone
                        button(type="submit").input__btn
                            include ../../static/img/svg/icon_arrow.svg
                .call__hint
                    span.like-h6 В стоимость входит: работа + комплектующие

    a(name="action")
    section.action-day.js-action-day-section
        .action-day__back
        .action-day__container
            .action-day__title
                .lbl Акция дня
            .action-day__image
                img(src='static/img/general/1_actions.png')
            .action-day__slider.slider.js-action-day

                div.action-day__item
                    .action-day__name
                        span.like-h2 Корпус поврежден?
                    .action-day__day
                        span.like-h2 Понедельник!
                    .action-day__text
                        span.like-h5 При замене корпуса вашего iPhone всем клиентам дарим чехол в подарок
                    .action-day__link
                        a(href='/feedback.html') Мне это подходит!


                div.action-day__item
                    .action-day__name
                        span.like-h2 Ремонт разъемов?
                    .action-day__day
                        span.like-h2 Вторник!
                    .action-day__text
                        span.like-h5 Во вторник ремонт любых разъёмов на вашем iPhone со скидкой 10%
                    .action-day__link
                        a(href='/feedback.html') Мне это подходит!

                div.action-day__item
                    .action-day__name
                        span.like-h2 Потерян торговый вид?
                    .action-day__day
                        span.like-h2 Среда!
                    .action-day__text
                        span.like-h5 Только в среду чистка от пыли и грязи вашего iPhone со скидкой 10%
                    .action-day__link
                        a(href='/feedback.html') Мне это подходит!


                div.action-day__item
                    .action-day__name
                        span.like-h2 Необходим ремонт кнопок?
                    .action-day__day
                        span.like-h2 Четверг!
                    .action-day__text
                        span.like-h5 В четверг ремонт любых кнопок со скидкой 10%
                    .action-day__link
                        a(href='/feedback.html') Мне это подходит!


                div.action-day__item
                    .action-day__name
                        span.like-h2 А если я студент?
                    .action-day__day
                        span.like-h2 Пятница!
                    .action-day__text
                        span.like-h5 В пятницу при предъявлении студенческого билета любой ремонт со скидкой 10%
                    .action-day__link
                        a(href='/feedback.html') Мне это подходит!

                div.action-day__item
                    .action-day__name
                        span.like-h2 Бесплатная замена батареи?
                    .action-day__day
                        span.like-h2 Суббота!
                    .action-day__text
                        span.like-h5 В субботу заменим аккумулятор любого iPhone со скидкой 10%
                    .action-day__link
                        a(href='/feedback.html') Мне это подходит!


                div.action-day__item
                    .action-day__name
                        span.like-h2 Нужна замена экрана?
                    .action-day__day
                        span.like-h2 Воскресенье!
                    .action-day__text
                        span.like-h5 Сегодня воскресенье,а значит при замене экрана мы дарим защитное стекло и бесплатно его поклеим
                    .action-day__link
                        a(href='/feedback.html') Мне это подходит!



    section.defects.js-service-section
        a(name="service")
        .defects__back
        .defects__title
            span.like-h2 Распространённые поломки
        .defects__description
            span.like-h5
                | Ниже приведен перечень самых распространённых поломок.
                br
                | Если вы не знаете своей точной поломки, дефект вы найдете здесь.
        .defects__popular.js-defects-list
            .defects__item.defect
                .defect__icon
                    img(src='static/img/svg/bug-1.svg')
                .defect__name
                    span.like-h5 Разбит дисплей
                .defect__text.like-h5
                    | Причины, по которым вам может понадобиться замена дисплея iPhone:
                    br
                    br
                    | - Механические воздействия на iPhone (банально выскользнул из рук или выпал из кармана, удары разной степени силы, сдавливание экрана тяжелыми предметами, небрежное обращение)
                    br
                    br
                    | - Микротрещины, образовавшиеся в результате ударов и падений. А ведь бывает так, что даже самая маленькая микротрещина может привести к ухудшению видимости либо полному исчезновению изображения, а в дальнейшем к более серьезному ремонту.
                    br
                    br
                    | - После попадания жидкости под стекло, может произойти короткое замыкание ,и как следствие, выход из строя дисплейного модуля.
                    br
                    br
                    | - Отсутствие реакции или плохое реагирование при нажатии на touch-screen

            .defects__item.defect
                .defect__icon
                    img(src='static/img/svg/bug-4.svg')
                .defect__name
                    span.like-h5 Не включается
                .defect__text.like-h5
                    | Что делать,если iPhone не включается?
                    br
                    br
                    | Бывают случаи, когда жесткая перезагрузка Hard Reset не помогла. Причин может быть много, и в зависимости от них будет понятно, насколько сложный ремонт потребуется, и целесообразен ли ремонт вообще. Причины неисправности:
                    br
                    br
                    | Неисправен дисплей. Вследствие ударов и падений может выйти из строя дисплейный модуль. Попадание влаги или жидкости в iPhone. Вода, проникая в телефон, моментально запускает процесс коррозии, которая очень быстро может затронуть смежные детали. В случае проникновения жидкости так же может произойти короткое замыкание. Рекомендуем не предпринимать самостоятельных действий, т.к. это может быть чревато поломкой Вашего гаджета. Как можно скорее Вам следует обраться к специалистам. Завис и отключился при подключении к компьютеру. В данном случае iPhone может работать в режиме отладки, необходимо отключить соединение и попробовать сделать жесткую перезагрузку Hard Reset.
                    br
                    br
                    | Разряжен аккумулятор. Конечно, обнаружив, что айфон не включается, первым делом мы пытаемся его зарядить. Но бывает так, что аккумулятор разряжен сверх нормы, и тогда, даже подключенный к сети не заряжается. Учтите, что как и у любого другого — у него есть свой срок службы (в среднем 2-3 года, бывает и больше, но при правильной эксплуатации). Если ваш аккумулятор потерял емкость, следует его заменить. Возможны и иные причины, почему iPhone не включается. Только после вскрытия специалисты нашего сервиса смогут Вам их озвучить.
                    br
                    br
                    | Обращаем внимание, что самостоятельные действия могут быть чреваты поломкой устройства, особенно если в телефон проникла жидкость.


            .defects__item.defect
                .defect__icon
                    img(src='static/img/svg/bug-7.svg')
                .defect__name
                    span.like-h5 Не работает WiFi
                .defect__text.like-h5
                    | Как правило, большая часть обращений в сервисный центр по ремонту Wi-Fi в iPhone, связана с заменой его модуля. Точно диагностировать неисправность сможет только специалист. Но для начала можно попробовать решить проблему не работающего Wi-Fi в айфон самостоятельно, как советуют специалисты на официальном сайте производителя:
                    br
                    br
                    | - сбросить все настройки сети
                    br
                    | - сделать жесткую перезагрузку Hard Reset
                    br
                    | - обновить ПО до последней версии



            .defects__item.defect
                .defect__icon
                    img(src='static/img/svg/bug-2.svg')
                .defect__name
                    span.like-h5 Отклеилось стекло
                .defect__text.like-h5
                    | С данной проблемой могут столкнуться пользователи iPhone 5/5с/5s.
                    br
                    br
                    | Причины отклеивание стекла в iPhone следующие: - частые удары и падения
                    br
                    br
                    | - мятые углы на корпусе
                    br
                    | - вздулся АКБ и давит на дисплей изнутри


            .defects__item.defect
                .defect__icon
                    img(src='static/img/svg/bug-5.svg')
                .defect__name
                    span.like-h5 Не заряжается
                .defect__text.like-h5
                    | Причин, по которым iPhone не заряжается,может быть много:
                    br
                    br
                    | Первоначально Вам необходимо проверить, исправно ли само зарядное устройство. Если вышел из строя кабель, розетка или переносное зарядное устройство, его следует заменить. И помните, покупать зарядное устройство следует только в специализированных местах и местах не вызывающих сомнения. Дешевыми китайскими зарядками или зарядками, не предназначенными для техники Apple, ни в коем случае не следует заряжать.
                    br
                    br
                    | Быть может проблема в аккумуляторе, тогда необходимо будет заменить его на новый. В нашем сервисе замена АКБ можно поменять в течении 3-5 минут. Одной их частых причин может быть неисправность разъема. При визуальном осмотре Вы можете обнаружить поврежденные элементы или контакты, как результат механических повреждений. Иногда на контактах образуется зеленый или черный налет, как результат попадания влаги или жидкости внутрь. В некоторых случая вполне достаточно попасть под дождь. Внутренние элементы окисляются и перестают проводить ток.
                    br
                    br
                    | Неисправен может быть и контроллер питания/контроллер заряда.
                    br
                    | Контроллер питания выходит из строя, если пользователь iPhone заряжает его неоригинальными зарядными устройствами.
                    | Бывает так, что на экране вашего гаджета при подключении Вы можете обнаружить надпись, что «iPhone не поддерживает данный аксессуар». Неисправность может быть в разъеме под зарядку либо USB-кабеле. Поможет замена нижнего шлейфа либо покупка нового кабеля.


            .defects__item.defect
                .defect__icon
                    img(src='static/img/svg/bug-8.svg')
                .defect__name
                    span.like-h5 Попала жидкость
                .defect__text.like-h5
                    | Что необходимо предпринять?
                    br
                    br
                    | Отключить устройство
                    br
                    | Извлечь сим-карту
                    br
                    | Если Вы обладаете должными знаниями – извлечь или отключить аккумулятор
                    br
                    | Протереть iPhone тканью, которая хорошо впитывает воду
                    br
                    | Обратиться в сервисный центр к специалистам
                    br
                    br
                    | И помните, чем скорее Вы обратитесь в сервисный центр, тем большая вероятность спасти ваш iPhone, чтобы он вернулся в строй и прослужил вам долгое время.
                    br
                    br
                    | Специалисты нашего сервиса компетентно и профессионально выполняют комплексные работы по восстановлению iPhone после залития. При необходимости осуществляют сложный технический ремонт, включая перепайку микросхем.


            .defects__item.defect
                .defect__icon
                    img(src='static/img/svg/bug-3.svg')
                .defect__name
                    span.like-h5 Полосы на экране
                .defect__text.like-h5


            .defects__item.defect
                .defect__icon
                    img(src='static/img/svg/bug-6.svg')
                .defect__name
                    span.like-h5 Быстро разряжается
                .defect__text.like-h5


            .defects__item.defect
                .defect__icon
                    img(src='static/img/svg/bug-9.svg')
                .defect__name
                    span.like-h5 Проблемы со звуком
                .defect__text.like-h5


        .defects__all.js-all-defects.js-defects-list
            .defects__all-wrap
                .defects__item.defect
                    .defect__icon
                        img(src='static/img/svg/bug-10.svg')
                    .defect__name
                        span.like-h5 Разбито стекло
                    .defect__text.like-h5
                        | Причины возникновения повреждений
                        br
                        br
                        | 1. Механическое воздействие на iPhone:
                        br
                        | удары разной степени силы iPhone об твердые поверхности
                        br
                        | удары разной степени силы любых твердых предметов на iPhone
                        br
                        | равномерное давление на экран iPhone каких-либо тяжелых предметов (сдавливание)
                        br
                        br
                        | 2. Микротрещины, образовавшиеся в результате частых падений
                        br
                        br
                        | 3. Неправильная установка экрана при его замене
                        br
                        br
                        | 4. Погнутый корпус iPhone, вследствие чего создается излишнее давление на стекло, и – как результат – стекло трескается.
                        br
                        br
                        | 5. Отклеившееся стекло от пластиковой рамки, которое торчит относительно корпуса и даже при слабом надавливании способно дать трещины.

                .defects__item.defect
                    .defect__icon
                        img(src='static/img/svg/bug-13.svg')
                    .defect__name
                        span.like-h5 Плохо заряжается
                    .defect__text.like-h5
                        |Очень часто iPhone плохо заряжается из-за неисправности USB-кабеля. Проверить это можно вставив другой штекер в телефон. Если заряд идет, Вам необходимо будет приобрести новый кабель.
                        br
                        br
                        | Неисправность может быть в нижнем шлейфе (разъеме под зарядку). Такие проблемы бывают из-за использования некачественных проводов. Они повреждают контакты разъема, сам штекер не до конца вставляется в разъем и, как результат, айфон плохо заряжается.
                        br
                        br
                        | Используйте только оригинальные зарядные устройства, т.к. используя неоригинальные аксессуары, может сгореть разъем питания и ремонт вашего гаджета обойдется намного дороже, нежели покупка оригинального USB-кабеля.
                        br
                        br
                        | Бывает и так, что прижав плотнее разъем зарядки или, поменяв угол его соприкосновения с iPhone, удается наладить процесс зарядки. В этом случае обратитесь к специалистам, т.к. возможно расшатан разъем подзарядки и потребуется его ремонт.
                        br
                        br
                        | Обращаем внимание, что только опытные специалисты, проведя полную диагностику iPhone, смогут выявить поломку и определить дальнейший ремонт.

                .defects__item.defect
                    .defect__icon
                        img(src='static/img/svg/bug-16.svg')
                    .defect__name
                        span.like-h5 Сам перезагружается
                    .defect__text.like-h5
                        | Возможные причины:
                        br
                        br
                        | Вероятно, и как наиболее часто это бывает, вышел из строя аккумулятор и потребуется его замена на новый. Если пользуетесь айфоном 2-3 года и, ранее не меняли АКБ, значит истек его срок годности.
                        br
                        br
                        | Возможно, произошел программный сбой и слетела прошивка. В данном случае поможет только перепрошивка Вашего устройства с полной потерей всех данных. Еще раз отметим важность создания резервных копий вашего аппарата на компьютер. Настоятельно рекомендуем делать резервные копии каждые 2-3 месяца, во избежание подобных ситуаций.
                        br
                        br
                        | Может быть, произошло короткое замыкание на плате. Для определения этого потребуется более углубленная диагностика. А проверить это смогут только опытные специалисты сервисного центра.
                        br
                        br
                        | Самопроизвольные перезагрузки, а так же снижение удержания заряда может быть результатом попадания влаги и жидкости. Даже небольшое количество воды способно вызвать существенные изменения в работе, и в результате коррозию внутренних элементов.
                        br
                        br
                        | В случаях, когда Ваш айфон сам перезагружается, обратитесь к специалистам. Только грамотные специалисты сервисного центра располагают всем необходимым оборудованием и могут грамотно диагностировать источник повреждения, а так же устранить неисправность.


                .defects__item.defect
                    .defect__icon
                        img(src='static/img/svg/bug-11.svg')
                    .defect__name
                        span.like-h5 Плохо работают кнопки
                    .defect__text.like-h5
                        | Рассмотрим некоторые из поломок:
                        br
                        br
                        | Довольно часто поломке подвергается кнопка вкл/выкл. (кнопка блокировки), т.к. она часто востребована.
                        br
                        br
                        | Поскольку шлейф ее крепления достаточно нежен, на нем могут со временем образовываться микротрещины, которые приводят к поломке. Спасает только замена кнопки вкл/выкл.
                        br
                        br
                        | Некорректная работа кнопки HOME, как правило, связана с физическим воздействием: удары, небрежная эксплуатация, использование iPhone грязными руками и т.п. В зависимости от причин, ремонт может быть произведен путем замены кнопки или путем чистки внутренних элементов от грязи и пыли.
                        br
                        br
                        | Бывает и так, что кнопка HOME работает, но периодически заедает или нажимается через раз. Возможно, произошел программный сбой. В данном случае надо необходимо произвести калибровку кнопки.
                        br
                        br
                        | iPhone представляет собой настоящий мультимедийный центр. И на функциональную работу сильно влияет, когда перестает работать кнопка резулировки громкости. Можно конечно воспользоваться гарнитурой, но это создает опеределнные хлопоты. Если вам нужна замена кнопки громкости в кратчайшее время, рекомендуем обраться к специалистам.
                        br
                        br
                        | На некоторых моделях Айфон, таких как 5s / 6 / 6s / 6 Plus / 6s Plus / iPhone SE, кнопка HOME является уникальной и не взаимозаменяемой. Кнопка программируется с процессором один раз на заводе. И в случае замены, полностью утрачивается функция Touch ID. Бывает и так, что при замене дисплейного модуля, в сомнительных мастерских, Вам случайно могут порвать шлейф кнопки HOME . А она, как мы указали, является уникальной в своем роде. Поэтому рекомендуем обращаться только в специализированный сервис, где работают профессиональные мастера, знающие свое дело.
                        br
                        br
                        | Специалисты нашего сервиса компетентно и профессионально решают проблемы с коммуникаторами любой сложности. Наши клиенты всегда остаются довольны качеством их работы, сроками исполнения и стоимостью услуг, оставляя хорошие отзывы о нашем сервисном центре и рекомендуя своим друзьям.


                .defects__item.defect
                    .defect__icon
                        img(src='static/img/svg/bug-14.svg')
                    .defect__name
                        span.like-h5 Погнут корпус
                    .defect__text.like-h5
                        | Корпус iPhone гнется в случае механических повреждений — падений, ударов и сдавливании аппарата.
                        br
                        br
                        | Нередки ситуации, когда, обращаясь в сервисный центр за заменой дисплейного модуля, нашим мастерам приходится еще и выпрямлять iPhone, т.к. установка нового дисплея невозможна в случае повреждения корпуса. Новый дисплей может просто не встать в края корпуса.
                        br
                        br
                        | Бывают и особо тяжелые случаи, когда корпус iPhone погнут настолько сильно, что ремонт нецелесообразен. При выпрямлении может повредиться материнская плата, которая состоит из тончайших многоуровневых слоев. Выпрямляя ее, может образоваться надлом в противоположную сторону, что может привести к неисправимой поломке аппарата, т.к. материнская плата – основная составляющая часть работы любого телефона.
                        br
                        br
                        | Самостоятельно выпрямлять корпус не рекомендуем, т.к. высока вероятность получить изгиб корпуса в другом месте, и так же высока вероятность повредить саму материнскую плату. Специалисты нашего сервиса аккуратно выполняют работы при выпрямлении корпуса. Наши клиенты всегда остаются довольны качеством их работы, сроками исполнения и стоимостью услуг, оставляя хорошие отзывы о нашем сервисном центре и рекомендуя своим друзьям.


                .defects__item.defect
                    .defect__icon
                        img(src='static/img/svg/bug-17.svg')
                    .defect__name
                        span.like-h5 Завис на яблоке / iTunes
                    .defect__text.like-h5
                        | Если Ваш iPhone «завис» на изображении кабеля с зарядным устройством , а в обиходе эта проблема называется «висит на шнурке», причин может быть сотни. Одна из них – некорректная установка программного обеспечения. Как правило, на экране iPhone горит iTunes после неудачной попытки обновить ПО. Для устранения неисправности необходимо обратиться в сервисный центр и перепрошить его.
                        br
                        br
                        | Проблемы могут быть и в механических повреждениях после ударов и падений, или же попадания жидкости. Вполне вероятно могли отойти контакты или мог окислиться разъем или соединительный кабель. Узнать причину можно только вскрыв аппарат. Нелишним будет так же внимательно проверить кабель, возможно, он вышел из строя, и его следует заменить.
                        br
                        br
                        | Источник неполадок может крыться во внутренних элементах – процессоре, флеш-памяти или материнской плате. Ремонт такого характера следует доверить только специалистам, профессионалам своего дела в ремонте техники Apple. Т.к. только они способны грамотно провести комплексную диагностику, выявить причины неполадок и качественно выполнить свою работу.



                .defects__item.defect
                    .defect__icon
                        img(src='static/img/svg/bug-12.svg')
                    .defect__name
                        span.like-h5 Пыль под стеклом
                    .defect__text.like-h5
                        | В некоторых случаях пыль попадает из-за вздувшегося аккумулятора. Когда истекает срок службы АКБ, он вздувается, выдавливая стекло из рамки дисплея. А вздувается он потому, что многие пользователи любят ставить свой телефон на зарядку на всю ночь, а это 6-8 часов непрерывного заряда. При регулярных длительных таких подзарядок, электролит со временем вскипает и аккумулятор вздувается. Для полного заряда iPhone достаточно 1,5-2 часа.


                .defects__item.defect
                    .defect__icon
                        img(src='static/img/svg/bug-15.svg')
                    .defect__name
                        span.like-h5 Не работает камера
                    .defect__text.like-h5
                        | Причины неисправности:
                        br
                        br
                        | Механическое воздействие на iPhone:
                        br
                        | - удары разной степени силы iPhone об твердые поверхности
                        br
                        | - удары разной степени силы любых твердых предметов на iPhone
                        br
                        | - равномерное давление на экран iPhone каких-либо тяжелых предметов (сдавливание)
                        br
                        br
                        | Из-за механических повреждений, камера айфон может не работать или работать, но с помехами. Возможно, шлейф, соединяющий камеру мог отойти, поэтому питание не поступает на камеру. А возможно после ударов она и вовсе сломалась и необходимо будет ее заменять.
                        br
                        br
                        | Попадание влаги или жидкости. При вызове камеры, Ваш аппарат может перезагружаться или вовсе не заходить в режим камеры. Вода, проникая в телефон, моментально запускает процесс коррозии, которая очень быстро может затронуть смежные детали. В данном случае, необходимо будет менять камеру и просушивать остальные внутренние элементы, т.к. могут окислиться и другие внутренние детали телефона.
                        br
                        br
                        | Если же Ваш аппарат не падал и влага туда не попадала, причины поломки могут быть программыми. Например, вследствии неудачного обновления ПО или перепрошивки.


                .defects__item.defect
                    .defect__icon
                        img(src='static/img/svg/bug-18.svg')
                    .defect__name
                        span.like-h5 Не поворачивается экран
                    .defect__text.like-h5
                        | Не поворачивается экран iPhone, что делать?
                        br
                        br
                        | Для начала стоит понимать, что не все приложения поддерживают поворот экрана. Некоторые могут использовать только портретный или только альбомный режим для отображения информации, а некоторые могут менять ориентацию лишь при открытии определённого контента. В любом случае, для начала необходимо убедиться в том, что автоповорот работает в штатных приложениях.
                        br
                        | Не поворачивается экран айфона, как исправить?
                        br
                        | Для эксперимента запустите стандартный «Калькулятор» или «Календарь» и поверните устройство в горизонтальную ориентацию. Если поворота изображения не произошло, выполните следующие действия:
                        br
                        br
                        | 1. Отключите блокировку ориентации, которая отображается в строке состояния в виде замочка в кружочке со стрелочкой. Для этого откройте Пункт управления (проведите по экрану от самого низа вверх) и тапните по соответствующей иконке.
                        br
                        br
                        | 2. Отключите увеличение дисплея для поворота домашнего экрана (спрингборда). Для этого откройте Настройки → Экран и яркость → в разделе Увеличение дисплея перейдите в раздел Вид. Переключите «Увеличение» в режим «Стандартно». После этого действия произойдёт перезагрузка устройства.
                        br
                        br
                        | 3. Если описанные выше действия не помогли (в стандартных приложениях таких как «Калькулятор» или «Календарь» не происходит автоповорот экрана), то перезагрузите устройство. Перепробовали всё? Возможно необходимо обратиться в сервисный центр. Скорее всего проблема кроется в железе.

        .defects__actions.actions
            a(href='/feedback.html').actions__btn.btn Как исправить?
            a(href='#').actions__repair.js-show-all-defects Не нашел свою



    a(name="plus")
    section.additional-service.js-additional-section
        .additional-service__back
        .additional-service__container
            .additional-service__title
                .lbl.lbl_wide Дополнительные услуги
            .additional-service__slider-wrap
                .additional-service__slider.slider.js-additional-service
                    .additional-service__item
                        .additional-service__text
                            .additional-service__name
                                span.like-h2 Поклейка защитного стекла или пленки
                            .additional-service__description
                                span.like-h5
                                    | Зачем это нужно? Как минимум, при падении
                                    br
                                    | защитное стекло возьмет удар на себя!
                            .additional-service__link
                                a(href='/feedback.html') Мне это подходит!
                            .additional-service__arrows
                                .additional-service__arrow.additional-service__arrow_prev.js-additional-slider-prev
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                                .additional-service__arrow.additional-service__arrow_next.js-additional-slider-next
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                        .additional-service__image
                            img(src='static/img/general/2_extra.png')

                    .additional-service__item
                        .additional-service__text
                            .additional-service__name
                                span.like-h2 Обрезка SIM-карты под nano-SIM / micro-SIM
                            .additional-service__description
                                span.like-h5
                                    | Бесплатно вместе с вами и специальным степлером
                                    br
                                    | обрежем вашу SIM-карту!
                            .additional-service__link
                                a(href='/feedback.html') Мне это подходит!
                            .additional-service__arrows
                                .additional-service__arrow.additional-service__arrow_prev.js-additional-slider-prev
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                                .additional-service__arrow.additional-service__arrow_next.js-additional-slider-next
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                        .additional-service__image
                            img(src='static/img/general/3_extra.png')

                    .additional-service__item
                        .additional-service__text
                            .additional-service__name
                                span.like-h2 Перенос информации с iPhone на iPhone
                            .additional-service__description
                                span.like-h5
                                    | Приобрели новенький iPhone или iPad? Поможем перенести
                                    br
                                    | все данные не потеряв ни байта информации!
                            .additional-service__link
                                a(href='/feedback.html') Мне это подходит!
                            .additional-service__arrows
                                .additional-service__arrow.additional-service__arrow_prev.js-additional-slider-prev
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                                .additional-service__arrow.additional-service__arrow_next.js-additional-slider-next
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                        .additional-service__image.additional-service__image_wide
                            img(src='static/img/general/4_extra.png')

                    .additional-service__item
                        .additional-service__text
                            .additional-service__name
                                span.like-h2 Перепрошивка iPhone/iPad (c потерей данных)
                            .additional-service__description
                                span.like-h5
                                    | Сломали, разлюбили, вышел новый или просто
                                    br
                                    | хочется обновиться? Мы вам поможем!
                            .additional-service__link
                                a(href='/feedback.html') Мне это подходит!
                            .additional-service__arrows
                                .additional-service__arrow.additional-service__arrow_prev.js-additional-slider-prev
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                                .additional-service__arrow.additional-service__arrow_next.js-additional-slider-next
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                        .additional-service__image
                            img(src='static/img/general/5_extra.png')
    a(name="reviews")
    section.reviews.js-reviews-section
        .reviews__list.js-reviews
            .reviews__item
                .reviews__wrap
                    .reviews__heading.heading
                        .heading__item
                            .heading__name
                                span.like-h6 Услуга:
                            .heading__text
                                span.like-h5 Замена шлейфа питания на iPhone 6S
                        .heading__item
                            .reviews__photo
                                i.reviews__arrow.reviews__arrow_prev.js-reviews-prev
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                                img(src='static/img/general/1_review.png')
                                i.reviews__arrow.reviews__arrow_next.js-reviews-next
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                        .heading__item
                            .heading__name
                                span.like-h6 Клиент
                            .heading__text
                                span.like-h5 Кирилл Кузнецов
                    .reviews__text
                        span.like-h5 История простая, в один прекрасный день моя шестёрка перестала заряжаться. Переворачивал кабель, пытался "продуть" от пыли самостоятельно, ничего не помогало. Отнес в сервисный центр айдоктор, посмотрели, определили что дело внутри. Сменили какой-то шлейф за 20 минут, взяли 1000. Работает уже 2 недели, дали гарантию - 1 месяц, пока не парюсь.




            .reviews__item
                .reviews__wrap
                    .reviews__heading.heading
                        .heading__item
                            .heading__name
                                span.like-h6 Услуга:
                            .heading__text
                                span.like-h5 Замена аккумулятора на iPhone 5
                        .heading__item
                            .reviews__photo
                                i.reviews__arrow.reviews__arrow_prev.js-reviews-prev
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                                img(src='static/img/general/2_review.png')
                                i.reviews__arrow.reviews__arrow_next.js-reviews-next
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                        .heading__item
                            .heading__name
                                span.like-h6 Клиент
                            .heading__text
                                span.like-h5 Андрей Колокольцев
                    .reviews__text
                        span.like-h5 Добрый день! Благодарю сервис iDoctor за оперативную помощь! С наступлением ранних холодов в конце ноября потребовалась замена батареи, так как на морозе даже при 40% садился за пару минут, а работал только в помещении Александр опасения подтвердил и заменил батарею.




            .reviews__item
                .reviews__wrap
                    .reviews__heading.heading
                        .heading__item
                            .heading__name
                                span.like-h6 Услуга:
                            .heading__text
                                span.like-h5 Замена дисплея и стекла на iPhone 6
                        .heading__item
                            .reviews__photo
                                i.reviews__arrow.reviews__arrow_prev.js-reviews-prev
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                                img(src='static/img/general/3_review.png')
                                i.reviews__arrow.reviews__arrow_next.js-reviews-next
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                        .heading__item
                            .heading__name
                                span.like-h6 Клиент
                            .heading__text
                                span.like-h5 Маришка Литовская
                    .reviews__text
                        span.like-h5 iDoctor спас! Носила телефон без чехла и уронила на угол, прямо где камера. Камере ничего, а вот экран треснул в уголке, хоть и под плёночкой был. Сервис заменил экран, говорят, что оригинал - не знаю так ли это, но качество отменное, как и было. Обрадовало, что был именно беленький в наличии. Смотрится супер!




            .reviews__item
                .reviews__wrap
                    .reviews__heading.heading
                        .heading__item
                            .heading__name
                                span.like-h6 Услуга:
                            .heading__text
                                span.like-h5 Ремонт основной камеры на iPhone SE
                        .heading__item
                            .reviews__photo
                                i.reviews__arrow.reviews__arrow_prev.js-reviews-prev
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                                img(src='static/img/general/4_review.png')
                                i.reviews__arrow.reviews__arrow_next.js-reviews-next
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                        .heading__item
                            .heading__name
                                span.like-h6 Клиент
                            .heading__text
                                span.like-h5 Семён Завьялов
                    .reviews__text
                        span.like-h5 Купил новый SE, когда ходил в море, там камеру и разбил. Отдал другу, раньше тоже имел дело с ремонтом Apple, но с его камерой при съёмке видео запись стала моргать, когда приближаешь. Отдал в этот сервис, сменили на новую за 15 минут. Не моргает, доволен, спасибо.




            .reviews__item
                .reviews__wrap
                    .reviews__heading.heading
                        .heading__item
                            .heading__name
                                span.like-h6 Услуга:
                            .heading__text
                                span.like-h5 Замена кнопки "Home" на iPhone 5C
                        .heading__item
                            .reviews__photo
                                i.reviews__arrow.reviews__arrow_prev.js-reviews-prev
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                                img(src='static/img/general/5_review.png')
                                i.reviews__arrow.reviews__arrow_next.js-reviews-next
                                    .arrow.arrow_red-hover
                                        include ../../static/img/svg/icon_arrow.svg
                        .heading__item
                            .heading__name
                                span.like-h6 Клиент
                            .heading__text
                                span.like-h5 Никита Котлов
                    .reviews__text
                        span.like-h5 Огонь! Был старенький 5С, перестал пользоваться, потому что кнопка хоум вылетела. Замена не дорогая, но было лень и жалко (Пользуюсь 6 Plus). Узнал про iDoctor и их скидки. Порадовало, что пришел в четверг (акция дня), и попросил скидку по смс, в итоге замена вышла чуть дороже 500, теперь использую трубку для работы. Вообще непривычно)




        .reviews__ask-link
            a(href='https://vk.com/idoktor29ru' target="_blank").like-h5
                img(src='static/img/svg/icon_review_question.svg')
                | Задать свой вопрос в Vk

    .delimiter
    section.partners.js-partners-section
        a(name="partners")
        .partners__heading
            span.like-h2 Партнёр-сервис
        .partners__list
            .partners__item
                a.partner(href='/videocards.html')
                    .partner__dots
                    .partner__content
                        .partner__image
                            img(src='static/img/general/1_partner_pic_x1.png' srcset='static/img/general/1_partner_pic_x2.png 2x')
                        .partner__text
                            .partner__heading
                                span.like-h3 Видеокарты
                            .partner__service
                                span.like-h5 Продажа
                                span.like-h5 Обслуживание
                                span.like-h5 Ремонт

            .partners__item
                a.partner.partner_garmin(href='/garmin.html')
                    .partner__dots
                    .partner__content
                        .partner__image
                            img(src='static/img/general/2_partner_pic_x1.png' srcset='static/img/general/2_partner_pic_x2.png 2x')
                        .partner__text
                            .partner__heading
                                img(src='static/img/svg/garmin_logo_light.svg')
                            .partner__service
                                span.like-h5 Продажа
                                span.like-h5 Обслуживание
                                span.like-h5 Ремонт
    section.map.js-map
        a(name="contacts")
        .map__wrap
            .map__pin
            .map__info
            .map__content.content
                .content__wrap
                    .content__block
                        span.like-h6 Как добраться на автобусе?
                        span.like-h4 1, 6, 22, 42, 44, 60, 104у
                    .content__block
                        span.like-h6 Остановка:
                        span.like-h4 Троицкий × Логинова


