extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content

	section.main
		.main__back
		.main__content
			.main__description
				.main__logo
					img(src='static/img/svg/idoctor_logo_white.svg')
				.main__heading
					span.like-h1 Экспресс-ремонт
					span.like-h2 iPhone / iPad в Архангельске
					.refresh
						include ../../static/img/svg/icon_refresh.svg
					p.like-h5
						| Демократичный экспресс сервис Вашей техники Apple уже сегодня.
						br
						| iDoctor — это не только быстрое и качественное исполнение,
						br
						| но и гарантия качества на каждую услугу от 3 месяцев.

			.main__menu
				.menu
					.menu__item
						a(href='#') Стоимость
					.menu__item
						a(href='#') Акция дня
					.menu__item
						a(href='#') Сервис
					.menu__item
						a(href='#') Услуги Plus
					.menu__item
						a(href='#') Отзывы
					.menu__item
						a(href='#') Партнёры
					.menu__item
						a(href='#') Контакты


		.main__down
			.arrow.arrow_down
				include ../../static/img/svg/icon_arrow.svg

	section.price
		.price__device.device
			.device__type
				span.like-h6 Девайс
				.toggler.js-toggler-type(data-value='ipad')
					.toggler__back
					.toggler__items
						span.toggler__item(data-value='iphone') iPhone
						span.toggler__item(data-value='ipad') iPad
			.device__model
				span.like-h6 Модель
				.toggler.toggler_model.js-toggler-model(data-value='6')
					.toggler__back
					.toggler__items
						span.toggler__item(data-value='5') 5
						span.toggler__item(data-value='6') 6
						span.toggler__item(data-value='7') 7
						span.toggler__item(data-value='8') 8




		.price__diagnosis.diagnosis
			.diagnosis__hint.hint
				.hint__top
					span.like-h1 Где болит?
					span.like-h5
						| Просто наведите на маркер,
						br
						| и мы определим вашу проблему,
						br
						| а также оценим стоимость
				.hint__bottom
					span.like-h5
						| Затрудняетесь с определением неисправности?
						.bold Поможем!
					.input.input_btn
						input(type='text').input__field
						button(href='#').input__btn
							include ../../static/img/svg/icon_arrow.svg
			.diagnosis__phone.phone
				.phone__image
					img(src='static/img/general/1_price_iphone.png')
					a(href='#' data-name='Замена камеры' data-time='30 минут' data-price='777 руб.').pain.pain_1.js-pain
					a(href='#' data-name='Ремонт механических кнопок' data-time='1 час' data-price='666 руб.').pain.pain_2.js-pain
					a(href='#' data-name='Восстановление после попадания влаги' data-time='20 минут' data-price='5555 руб.').pain.pain_3.js-pain
					a(href='#' data-name='Замена аккумулятора' data-time='50 минут' data-price='1000 руб.').pain.pain_4.js-pain
					a(href='#' data-name='Замена кнопки TouchID' data-time='40 минут' data-price='100 руб.').pain.pain_5.js-pain
					a(href='#' data-name='Замена разъема' data-time='20 минут' data-price='231 руб.').pain.pain_6.js-pain
					a(href='#' data-name='Замена экрана с тачскрином' data-time='60 минут' data-price='1234 руб.').pain.pain_7.js-pain
			.diagnosis__result.result
				.result__top
					span.like-h3.js-diagnosis-name Восстановление после попадания влаги
					.result__time-price
						.result__time
							span.like-h6 Время ремонта от:
							span.like-h3.js-diagnosis-time 30 минут
						.result__price
							span.like-h6 Стоимость от:
							span.like-h3.js-diagnosis-price 999 руб.
				.result__bottom
					.show-price
						.show-price__icon
							include ../../static/img/svg/icon_show_price.svg
						.show-price__text
							a(href='#').like-h4 Открыть полный прайс
							span.like-h6 14 позиций
					span.like-h6
						| В стоимость ремонта входит:
						br
						| работа + комплектующие

	section.action-day
		.action-day__back
		.action-day__container
			.action-day__title
				.lbl Акция дня
			.action-day__image
				img(src='static/img/general/1_actions.png')
			.action-day__slider.slider.js-action-day

				div.action-day__item
					.action-day__name
						span.like-h2 Разбито защитное стекло?
					.action-day__day
						span.like-h2 Понедельник!
					.action-day__text
						span.like-h5 В понедельник замена  защитного стекла абсолютно бесплатна! Вы платите только за комплектующие!
					.action-day__link
						a(href='#') Мне это подходит!


				div.action-day__item
					.action-day__name
						span.like-h2 Ремонт разъемов?
					.action-day__day
						span.like-h2 Вторник!
					.action-day__text
						span.like-h5 Во вторник ремонт любых разъемов на вашем девайсе со скидкой 15%!
					.action-day__link
						a(href='#') Мне это подходит!

				div.action-day__item
					.action-day__name
						span.like-h2 Потерян торговый вид?
					.action-day__day
						span.like-h2 Среда!
					.action-day__text
						span.like-h5 Только в среду чистка от пыли и грязи вашего девайса со скидкой от 20% до 50%!
					.action-day__link
						a(href='#') Мне это подходит!


				div.action-day__item
					.action-day__name
						span.like-h2 Необходим ремонт кнопок?
					.action-day__day
						span.like-h2 Четверг!
					.action-day__text
						span.like-h5 В четверг замена или ремонт любых кнопок на вашем девайсе со скидкой 20%
					.action-day__link
						a(href='#') Мне это подходит!


				div.action-day__item
					.action-day__name
						span.like-h2 А если я студент?
					.action-day__day
						span.like-h2 Пятница!
					.action-day__text
						span.like-h5 В пятницу при предъявлении студенческого билета любой ремонт со скидкой 15%!
					.action-day__link
						a(href='#') Мне это подходит!

				div.action-day__item
					.action-day__name
						span.like-h2 Бесплатная замена батареи?
					.action-day__day
						span.like-h2 Суббота!
					.action-day__text
						span.like-h5 В субботу заменим аккумулятор любого девайса бесплатно! Вы платите только за комплектующие!
					.action-day__link
						a(href='#') Мне это подходит!


				div.action-day__item
					.action-day__name
						span.like-h2 Нужна замена экрана?
					.action-day__day
						span.like-h2 Воскресенье!
					.action-day__text
						span.like-h5 Сегодня воскресение, а значит замена экрана для любого девайса будет произведена со скидкой в 20%
					.action-day__link
						a(href='#') Мне это подходит!



	section.defects
		.defects__back
		.defects__title
			span.like-h2 Распространённые поломки
		.defects__description
			span.like-h5
				| Ниже приведен перечень самых распространённых поломок.
				br
				| Если вы не знаете своей точной поломки, дефект вы найдете здесь.
		.defects__popular
			.defects__item.defect
				.defect__icon
					img(src='static/img/svg/bug-1.svg')
				.defect__name
					span.like-h5 Разбит дисплей

			.defects__item.defect
				.defect__icon
					img(src='static/img/svg/bug-4.svg')
				.defect__name
					span.like-h5 Не включается

			.defects__item.defect
				.defect__icon
					img(src='static/img/svg/bug-7.svg')
				.defect__name
					span.like-h5 Не работает WiFi

			.defects__item.defect
				.defect__icon
					img(src='static/img/svg/bug-2.svg')
				.defect__name
					span.like-h5 Отклеилось стекло

			.defects__item.defect
				.defect__icon
					img(src='static/img/svg/bug-5.svg')
				.defect__name
					span.like-h5 Не заряжается

			.defects__item.defect
				.defect__icon
					img(src='static/img/svg/bug-8.svg')
				.defect__name
					span.like-h5 Попала жидкость

			.defects__item.defect
				.defect__icon
					img(src='static/img/svg/bug-3.svg')
				.defect__name
					span.like-h5 Полосы на экране

			.defects__item.defect
				.defect__icon
					img(src='static/img/svg/bug-6.svg')
				.defect__name
					span.like-h5 Быстро разряжается

			.defects__item.defect
				.defect__icon
					img(src='static/img/svg/bug-9.svg')
				.defect__name
					span.like-h5 Проблемы со звуком

		.defects__all.js-all-defects
			.defects__all-wrap
				.defects__item.defect
					.defect__icon
						img(src='static/img/svg/bug-10.svg')
					.defect__name
						span.like-h5 Разбито стекло

				.defects__item.defect
					.defect__icon
						img(src='static/img/svg/bug-13.svg')
					.defect__name
						span.like-h5 Плохо заряжается

				.defects__item.defect
					.defect__icon
						img(src='static/img/svg/bug-16.svg')
					.defect__name
						span.like-h5 Сам перезагружается

				.defects__item.defect
					.defect__icon
						img(src='static/img/svg/bug-11.svg')
					.defect__name
						span.like-h5 Плохо работают кнопки

				.defects__item.defect
					.defect__icon
						img(src='static/img/svg/bug-14.svg')
					.defect__name
						span.like-h5 Погнут корпус

				.defects__item.defect
					.defect__icon
						img(src='static/img/svg/bug-17.svg')
					.defect__name
						span.like-h5 Завис на яблоке / iTunes


				.defects__item.defect
					.defect__icon
						img(src='static/img/svg/bug-12.svg')
					.defect__name
						span.like-h5 Пыль под стеклом

				.defects__item.defect
					.defect__icon
						img(src='static/img/svg/bug-15.svg')
					.defect__name
						span.like-h5 Не работает камера

				.defects__item.defect
					.defect__icon
						img(src='static/img/svg/bug-18.svg')
					.defect__name
						span.like-h5 Не поворачивается экран

		.defects__actions.actions
				a(href='#').actions__btn.btn Как исправить?
				a(href='#').actions__repair.js-show-all-defects Не нашел свою



	section.additional-service
		.additional-service__back
		.additional-service__container
			.additional-service__title
				.lbl.lbl_wide Дополнительные услуги
			.additional-service__slider-wrap
				.additional-service__slider.slider.js-additional-service
					.additional-service__item
						.additional-service__text
							.additional-service__name
								span.like-h2 Обмен непригодного iPhone на новый
							.additional-service__description
								span.like-h5
									| Сломали, разлюбили, вышел новый или просто
									br
									| хочется обновиться? Мы вам поможем!
							.additional-service__link
								a(href='#') Мне это подходит!
						.additional-service__image
							img(src='static/img/general/1_extra.png')

					.additional-service__item
						.additional-service__text
							.additional-service__name
								span.like-h2 Поклейка защитного стекла или пленки
							.additional-service__description
								span.like-h5
									| Зачем это нужно? Как минимум, при падении
									br
									| защитное стекло возьмет удар на себя!
							.additional-service__link
								a(href='#') Мне это подходит!
						.additional-service__image
							img(src='static/img/general/2_extra.png')

					.additional-service__item
						.additional-service__text
							.additional-service__name
								span.like-h2 Обрезка SIM-карты под nano-SIM / micro-SIM
							.additional-service__description
								span.like-h5
									| Бесплатно вместе с вами и специальным степлером
									br
									| обрежем вашу SIM-карту!
							.additional-service__link
								a(href='#') Мне это подходит!
						.additional-service__image
							img(src='static/img/general/3_extra.png')

					.additional-service__item
						.additional-service__text
							.additional-service__name
								span.like-h2 Перенос информации с iPhone на iPhone
							.additional-service__description
								span.like-h5
									| Приобрели новенький iPhone или iPad? Поможем перенести
									br
									| все данные не потеряв ни байта информации!
							.additional-service__link
								a(href='#') Мне это подходит!
						.additional-service__image.additional-service__image_wide
							img(src='static/img/general/4_extra.png')

					.additional-service__item
						.additional-service__text
							.additional-service__name
								span.like-h2 Перепрошивка iPhone/iPad (c потерей данных)
							.additional-service__description
								span.like-h5
									| Сломали, разлюбили, вышел новый или просто
									br
									| хочется обновиться? Мы вам поможем!
							.additional-service__link
								a(href='#') Мне это подходит!
						.additional-service__image
							img(src='static/img/general/5_extra.png')
	section.reviews
		.reviews__list.js-reviews
			.reviews__item
				.reviews__wrap
					.reviews__heading.heading
						.heading__item
							.heading__name
								span.like-h6 Услуга:
							.heading__text
								span.like-h5 Замена контроллера питания на iPhone 6S
						.heading__item
							.reviews__photo
								img(src='static/img/general/1_review.png')
						.heading__item
							.heading__name
								span.like-h6 Клиент
							.heading__text
								span.like-h5 Кирилл Кузнецов
					.reviews__text
						span.like-h5 История простая, в один прекрасный день моя шестёрка перестала заряжаться. Переворачивал кабель, пытался "продуть" от пыли самостоятельно, ничего не помогало. Отнес в сервисный центр айдоктор, посмотрели, определили что дело внутри. Сменили какой-то шлейф за 20 минут, взяли 1000. Работает уже 2 недели, дали гарантию - 3 месяца, пока не парюсь.



			.reviews__item
				.reviews__wrap
					.reviews__heading.heading
						.heading__item
							.heading__name
								span.like-h6 Услуга:
							.heading__text
								span.like-h5 Замена контроллера питания на iPhone 6S
						.heading__item
							.reviews__photo
								img(src='static/img/general/1_review.png')
						.heading__item
							.heading__name
								span.like-h6 Клиент
							.heading__text
								span.like-h5 Кирилл Кузнецов
					.reviews__text
						span.like-h5 История простая, в один прекрасный день моя шестёрка перестала заряжаться. Переворачивал кабель, пытался "продуть" от пыли самостоятельно, ничего не помогало. Отнес в сервисный центр айдоктор, посмотрели, определили что дело внутри. Сменили какой-то шлейф за 20 минут, взяли 1000. Работает уже 2 недели, дали гарантию - 3 месяца, пока не парюсь.



		.reviews__ask-link
			a(href='#').like-h5
				img(src='static/img/svg/icon_review_question.svg')
				| Задать свой вопрос в Vk
	.delimiter

	section.map
		.map__wrap
			.map__pin
			.map__info
			.map__content.content
				.content__wrap
					.content__block
						span.like-h6 Как добраться на автобусе?
						span.like-h4 1, 6, 22, 42, 44, 60, 104у
					.content__block
						span.like-h6 Остановка:
						span.like-h4 Троицкий × Логинова


	a(href='ui-kit.html') UI-kit