extends ../layout/main

block variables
    - var title = 'Стоимость ремонта iPhone 5'
    - var pageClass = 'price-table'

block content

    .price
        .price__back
        .price__name
            span.like-h1 Стоимость ремонта iPhone 5
        .price__text.text
            .text__main
                p В данную категорию входят также устройства:
                p iPhone 5 / 5C / 5S / SE
            .text__hint
                span
                    | Стоимость ремонта
                    br
                    | указана с&nbsp;учетом
                    br
                    | комплектующих

        .price__table.table
            .table__row
                .table__cell.table__cell_num
                    span 1.
                .table__cell.table__cell_text
                    .table__text
                        span Диагностика Iphone
                .table__cell.table__cell_price.table__cell_red
                    span Бесплатно
            .table__row
                .table__cell.table__cell_num
                    span 2.
                .table__cell.table__cell_text
                    .table__text
                        span Замена стекла с дисплеем и тачскрином в сборе
                .table__cell.table__cell_price
                    span 2490 руб.
            .table__row
                .table__cell.table__cell_num
                    span 3.
                .table__cell.table__cell_text
                    .table__text
                        span Замена вибромотора
                .table__cell.table__cell_price
                    span 790 руб.
            .table__row
                .table__cell.table__cell_num
                    span 4.
                .table__cell.table__cell_text
                    .table__text
                        span Перепрошивка iPhone (забыли 4-6-ти значный пароль)
                .table__cell.table__cell_price
                    span 490 руб.
            .table__row
                .table__cell.table__cell_num
                    span 5.
                .table__cell.table__cell_text
                    .table__text
                        span Замена задней крышки/корпуса
                .table__cell.table__cell_price
                    span 2490 руб.

        .price__bottom
            .price__download
                .show-price
                    .show-price__icon
                        include ../../static/img/svg/icon_show_price.svg
                    .show-price__text
                        a(href='#').like-h4 Скачать прайс
                        span.like-h6 PDF / 12.5 Mb
            .price__order
                a(href='#').btn Заказать ремонт
