extends ../layout/main

block variables
    - var title = 'Результаты поиска'
    - var pageClass = 'search-page'

block content

    section.results
        .results__back
        .results__heading
            span.like-h1 Результаты поиска:
        .results__list
            .results__item.search-item
                .search-item__heading
                    span.like-h3 Почему не работает WiFi?
                .search-item__text
                    p.like-h5 Как правило, большая часть обращений в сервисный центр по ремонту Wi-Fi в iPhone, связана с заменой его модуля. Точно диагностировать неисправность сможет только специалист. Но для начала можно попробовать решить...
                .search-item__read-more
                    a(href='#') Читать полностью
            .results__item.search-item
                .search-item__heading
                    span.like-h3 в iphone попала вода. Устраняем последствия.
                .search-item__text
                    p.like-h5 Как правило, большая часть обращений в сервисный центр по ремонту Wi-Fi в iPhone, связана с заменой его модуля. Точно диагностировать неисправность сможет только специалист. Но для начала можно попробовать решить...
                .search-item__read-more
                    a(href='#') Читать полностью
    section.callback
        .callback__heading
            span.like-h1
                | Не нашли решение проблемы?
                br
                | Поможем!
        .callback__text
            p
                |Не знаете или сомневаетесь в цене ремонта вашего девайса?
                br
                |За вас это сделаем мы. Быстро и максимально точно!
        .callback__form.form
            .form__item
                .form__label
                    span.like-h6 Меня зовут:
                .form__input
                    .input
                        input(type='text').input__field
            .form__item
                .form__label
                    span.like-h6 Позвоните на этот номер:
                .form__input
                    .input
                        input(type='text' placeholder='+7').input__field
            .form__item
                .btn Отправить

