extends ../layout/main

block variables
    - var title = 'UI-kit'
    - var pageClass = 'ui-kit'

block content

    section
        .like-h2 Шрифты

        div
            .like-h1 Экспресс-ремонт

        div
            .like-h2 в Архангельске


        div
            .like-h3 Восстановление после попадания влаги

        div
            .like-h4 Стоимость /
            .like-h4.like-h4_red Акция дня

        div
            .like-h5 Архангельск

        div
            .like-h5 Эластичность спроса обуславливает общественный рекламный клаттер

        div
            .like-h6 Связаться с нами:

    section
        .like-h2 Элементы

        div
            .btn Стоимость
        br

        div
            .lbl Акция дня
            .lbl.lbl_wide Дополнительные услуги

        br

        div
            .arrow
                include ../../static/img/svg/icon_arrow.svg

            .arrow.arrow_white
                include ../../static/img/svg/icon_arrow.svg

            .arrow.arrow_red-hover
                include ../../static/img/svg/icon_arrow.svg

            .arrow.arrow_down
                include ../../static/img/svg/icon_arrow.svg

        div
            .pain

            .refresh
                include ../../static/img/svg/icon_refresh.svg


        br

        .menu
            .menu__item
                a(href='#') Стоимость
            .menu__item
                a(href='#') Акция дня
            .menu__item
                a(href='#') Сервис
            .menu__item
                a(href='#') Услуги Plus
            .menu__item
                a(href='#') Отзывы
            .menu__item
                a(href='#') Партнёры
            .menu__item
                a(href='#') Контакты

        br

        div
            .contact-line
                .contact-line__line
                a(href='#').contact-line__link Как к нам проехать?
                .contact-line__social.social
                    .social__item.social__item_vk
                        a(href='#')
                            include ../../static/img/svg/icon_socials_vk.svg
                    .social__item.social__item_instagram
                        a(href='#')
                            include ../../static/img/svg/icon_social_instagram.svg


        div.search-right.search
            .search__icon
                include ../../static/img/svg/icon_search.svg

        .input
            input(type='text').input__field
        .input.input_btn
            input(type='text').input__field
            button(href='#').input__btn
                include ../../static/img/svg/icon_arrow.svg


        div
            .toggler.js-toggler-type(data-value='ipad')
                .toggler__back
                .toggler__items
                    span.toggler__item(data-value='iphone') iPhone
                    span.toggler__item(data-value='ipad') iPad

            .toggler.toggler_model.js-toggler-model(data-value='6')
                .toggler__back
                .toggler__items
                    span.toggler__item(data-value='5') 5
                    span.toggler__item(data-value='6') 6
                    span.toggler__item(data-value='7') 7
                    span.toggler__item(data-value='8') 8
