extends ../layout/main

block variables
    - var title = 'UI-kit'
    - var pageClass = 'ui-kit'

block content

    section
        .like-h2 Шрифты

        div
            .like-h1 Экспресс-ремонт

        div
            .like-h2 в Архангельске


        div
            .like-h3 Восстановление после попадания влаги

        div
            .like-h4 Стоимость /
            .like-h4.like-h4_red Акция дня

        div
            .like-h5 Архангельск

        div
            .like-h5 Эластичность спроса обуславливает общественный рекламный клаттер

        div
            .like-h6 Связаться с нами:

    section
        .like-h2 Элементы

        div
            .btn Стоимость
        br

        div
            .lbl Акция дня
            .lbl.lbl_wide Дополнительные услуги
