// ЦВЕТА
black = #000
red = #e22325
red2 = #d60426
red_dark = #8c1a27
red_dark2 = #5a0e0f
red_dark3 = #870f27
white = #fff
gray = #e6e6e6
gray2 = #747474
gray3 = #373737


// РАЗМЕРЫ
baseFontSize = 16px

// Media

mobile = "screen and (max-width: 990px)"
