.defect-detail

  .defect
    margin 57px 0
    max-width 620px
    position relative

    @media mobile
      max-width 100%

    &__back
      position absolute
      top -257px
      height 670px
      left -250px
      right 0
      background-image url('../img/general/1_welcome_back_pic.jpg')
      filter grayscale(0.2) opacity(0.1)

      @media mobile
        background-size 160%
        top -537px
        height 670px
        left -162px

    &__name
      margin-bottom 23px

      @media mobile
        text-align center

    &__text
      line-height 19px
      margin-bottom 52px

      p
        text-indent 34px

    &__bottom
      display flex
      justify-content space-between
      align-items baseline

      @media mobile
        flex-direction column
        align-items center

    &__read-more
      position relative
      color red
      display inline-block
      border-bottom 1px solid red
      line-height 17px

      @media mobile
        margin-bottom 55px

      &::after
        content ''
        background-image url('../img/svg/icon_arrow_link.svg')
        background-size contain
        background-repeat no-repeat
        width 13px
        height 13px
        transform rotate(-90deg)
        display inline-block
        position absolute
        top 1px
        right -22px
        transition all .3s linear

      a
        color red

    &__order

      .btn

        @media mobile
          width 220px
          height 48px
          font-size 12px
          line-height 48px