.ui-kit
  .container
    padding-top 130px

  section
    margin-bottom 40px
    & > .like-h2
      margin-bottom 30px

// Текст
.like-h1
  display inline-block
  color red
  @extend .museo-900
  font-size 36px
  line-height 39px

.like-h2
  display inline-block
  color white
  @extend .museo-500
  font-size 36px
  line-height 39px

.like-h3
  display inline-block
  color white
  @extend .museo-900
  font-size 24px
  line-height 24px

.like-h4
  display inline-block
  color white
  font-size 16px
  @extend .museo-500

  &_red
    display inline-block
    color red

.like-h5
  display inline-block
  color white
  @extend .museo-300
  font-size 16px

.like-h6
  display inline-block
  color gray2
  @extend .museo-100
  font-size 13px

// Элементы
.btn
  display inline-block
  cursor pointer
  width 180px
  height 40px
  background-image url('../img/svg/button.svg')
  background-repeat no-repeat
  background-size cover
  @extend .museo-500
  font-size 10px
  line-height 40px
  text-transform uppercase
  text-align center
  letter-spacing 0.1em
  transition opacity linear .3s

  &:hover
    opacity .85

.lbl
  display inline-block
  width 150px
  height 36px
  background-image url('../img/svg/label_1.svg')
  background-repeat no-repeat
  background-size cover
  @extend .museo-300
  color black
  font-size 16px
  line-height 36px
  text-align center
  letter-spacing 0

  &_wide
    width 250px
    background-image url('../img/svg/label_2.svg')

.arrow
  display inline-block
  position relative
  cursor pointer
  width 40px
  height 40px
  border-radius 20px
  background-color transparent
  transition background-color linear .3s

  &:hover
    background-color white

  svg
    width 14px
    height 11px
    position absolute
    top 50%
    margin-top -6.5px
    left 50%
    margin-left -7px

    path
      transition fill linear .3s

  &_white

    &:hover
      svg path
        fill red !important

    svg path
      fill white !important

  &_red-hover
    svg path
      fill red !important

    &:hover
      background-color red

      svg path
        fill white !important

  &_down
    background-color white

    &:hover
      background-color red

      svg path
        fill white !important

    svg
      transform rotate(90deg)

.pain
  display inline-block
  cursor pointer
  width 28px
  height 29px
  background-image url('../img/svg/icon_price_cross.svg');
  background-size cover
  opacity .5
  transition opacity linear .3s

  &:hover
    opacity 1

.refresh
  display inline-block
  cursor pointer
  width 25px
  height 20px

  svg
    width 25px
    height 20px

    path
      transition fill linear .3s

  &:hover
    svg path
      fill red !important

.menu

  a
    color inherit

  &__item
    margin-bottom 19px
    padding-left 0
    transition all linear .3s
    color white

    &:hover
      padding-left 8px
      color red
      @extend .museo-500

.contact-line

  &__line
    display block
    height 1px
    width 100%
    background-color gray2
    position relative
    top 17px

  &__link
    position relative
    padding-right 15px
    background-color black
    z-index 1
    @extend .like-h6
    text-decoration: underline
    transition all linear .3s

    &:hover
      color red


